@import '../../../styles.scss';

:host {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $colour-dark;
    font-size: $font-xxs;
}

.config {
    &__header { 
        font-size: $font-xs;
    }

    &__button {
        margin: 5px;
        padding: $card-padding; 
        color: $colour-light;
        background: $colour-dark;
        border-radius: 5px;
    }

    &__checkbox {
        margin: 5px;
    }
}