<h1 class="stats__header"> Post Match Stats </h1>
<div class="stats__container" *ngIf="slippiData">
    <div class="table__container">
        <div class="table__row" *ngFor="let selected of selectedOptions">
            <ng-container *ngIf="['killMoves', 'neutralOpenerMoves'].includes(selected.id)">
            <div class="table__col--left"> {{ selected?.results[0]?.result[0]?.name }} - {{ selected?.results[0]?.result[0]?.count }} </div>
            <div class="table__col--center--dark"> {{ selected?.name }}  </div>
            <div class="table__col--right"> {{ selected?.results[1]?.result[0]?.name }} - {{ selected?.results[1]?.result[0]?.count }} </div>
            </ng-container>
        </div>
        <hr class="table__separator--lg" />
        <div class="table__row" *ngFor="let selected of selectedOptions">
            <ng-container *ngIf="['openingsPerKill', 'damageDone', 'avgKillPercent', 'inputsPerMinute', 'damagePerOpening', 'neutralWins', 'earlyKills', 'lateDeaths', 'selfDestructs', 'highDamagePunishes'].includes(selected.id)">
            <div class="table__col--left"> {{ selected?.results[0]?.simple?.text }} </div>
            <div class="table__col--center"> {{ selected?.name }} </div>
            <div class="table__col--right"> {{ selected?.results[1]?.simple?.text }} </div>
            </ng-container>
        </div>
        <hr class="table__separator--md" />
        <div class="games__container">
            <div class="games__character__container">
            <div class="games__character__container--left">
                <ng-container *ngFor="let game of slippiData?.games">
                <div class="games__character__img-container">
                    <img [ngClass]="game.players[0].gameResult === 'winner'? 'games__character__img' : 'games__character__img--dark'" [src]="'./assets/images/characters/' + game.players[0].characterId + '.png'" />
                </div>
                </ng-container>
            </div>
            <div class="games__character__container--right">
                <ng-container *ngFor="let game of slippiData?.games">
                <div class="games__character__img__container">
                    <img [ngClass]="game.players[1].gameResult === 'winner'? 'games__character__img' : 'games__character__img--dark'" [src]="'./assets/images/characters/' + game.players[1].characterId + '.png'" />
                </div>
                </ng-container>
            </div>
            </div>
            <div class="games__stage__container">
            <ng-container *ngFor="let game of slippiData?.games">
                <div class="games__stage__img__container"> 
                <img class="games__stage__img" [src]="'./assets/images/stages/' + game.stage.id + '.png'" />
                <p class="games__length"> {{game?.duration}} </p>
                </div>
            </ng-container>
            </div> 
        </div>
    </div>
    
    <div class="games__set-count__container">
        <div class="games__set-count">
            {{getPlayerWins(0)}} - {{getPlayerWins(1)}}
        </div>
    </div>
</div>