<div>
  <h1 class="header"> Post Match Stats </h1>
  <div class="stats-container">
    <div class="table-container">
      <div class="row" *ngFor="let selected of selectedOptions">
        <ng-container *ngIf="['killMoves', 'neutralOpenerMoves'].includes(selected.id)">
          <div class="col__left"> {{ selected?.results[0]?.result[0]?.name }} - {{ selected?.results[0]?.result[0]?.count }} </div>
          <div class="col__center-dark"> {{ selected?.name }}  </div>
          <div class="col__right"> {{ selected?.results[1]?.result[0]?.name }} - {{ selected?.results[1]?.result[0]?.count }} </div>
        </ng-container>
      </div>
      <br>
      <div class="row" *ngFor="let selected of selectedOptions">
        <ng-container *ngIf="['openingsPerKill', 'damageDone', 'avgKillPercent', 'inputsPerMinute', 'damagePerOpening', 'neutralWins', 'earlyKills', 'lateDeaths', 'selfDestructs', 'highDamagePunishes'].includes(selected.id)">
          <div class="col__left"> {{ selected?.results[0]?.simple?.text }} </div>
          <div class="col__center"> {{ selected?.name }} </div>
          <div class="col__right"> {{ selected?.results[1]?.simple?.text }} </div>
        </ng-container>
      </div>
      <div class="games-container">
        <div class="game-character-container">
          <div class="games-character-container__left">
            <ng-container *ngFor="let game of slippiData?.games">
              <div class="games-character-img-container">
                <img [ngClass]="game.players[0].gameResult === 'loser'? 'games-character-img' : 'games-character-img__dark'" [src]="'./assets/images/characters/mario.png'" />
              </div>
            </ng-container>
          </div>
          <div class="games-character-container__right">
            <ng-container *ngFor="let game of slippiData?.games">
              <div class="games-character-img-container">
                <img [ngClass]="game.players[1].gameResult === 'loser'? 'games-character-img' : 'games-character-img__dark'" [src]="'./assets/images/characters/mario.png'" />
              </div>
            </ng-container>
          </div>
        </div>
        <div class="games-stage-container">
          <ng-container *ngFor="let game of slippiData?.games">
            <div class="games-stage-img-container"> 
              <img class="games-stage-img" [src]="'./assets/images/stages/' + game.stage.id + '.png'" />
              <p class="games-length"> {{game?.duration}} </p>
            </div>
          </ng-container>
        </div> 
      </div>
    </div>
  </div>
</div>

<div>
  <form>
    <input type="file" name="file" multiple (change)="onFileSelect($event)"/>
    <button type="button" (click)="uploadFiles()"> Submit </button>
  </form>
  <form [formGroup]="configForm" class="config">
    <div formArrayName="options" *ngFor="let option of configForm.controls.options.controls; let i = index">
      <input type="checkbox" [formControlName]="i"> {{slippiData.summary[i].name}}
    </div>
    <button type="button" (click)="generateStats()"> Generate </button>
  </form>
</div>