// Note that current values are meant to be viewed at 2560x1440, in an OBS browser source
// In the future id like this to be responsive 

$colour-light: white;
$colour-dark: #0c0c0c;
$font-xl: 40pt;
$font-lg: 28pt;
$font-md: 26pt;
$font-sm: 20pt;
$shadow: 3px 2px 5px black;
$img-shadow: 2px 3px 10px #00000087;
$card-padding: 14px 12px;
$card-margin: 3px auto;
$character-img-width: 120px;
$stage-img-width: 300px;
$table-column-width: 275px;

.stats {
    &__container {
        margin: 50px 450px; 
    }

    &__header {
        font-size: $font-xl;
        text-align: center;
    }

    &__config {
        color: $colour-light;
        font-family: 'Open Sans', 'Sans-Serif';
        font-size: $font-sm;

        &__button {
            color: $colour-dark;
            padding: $card-padding; 
            font-size: $font-sm;
        }
    }
}


.table {
    &__container{
        font-size: $font-md;
        padding: 0.7em 0.5em;
        margin-left: auto; 
        margin-right: auto;
        box-shadow: $img-shadow;
        background-color: rgba(0, 0, 0, 0.5)
    }

    &__separator{
        &--lg {
            width: 90%;
        }
        &--md {
            width: 75%;
        }
        &--md {
            width: 50%;
        }
    }

    &__row {
        display: flex;
    }

    &__col {
        &--left {
            padding: .6em 0;
            width: $table-column-width;
        }
    
        &--right {
            justify-content: right;
            text-align: right;
            width: $table-column-width;
            padding: .6em 0;
        }
    
        &--center {
            font-size: $font-lg;
            color: $colour-dark;
            background-color: $colour-light;
            margin: $card-margin;
            padding: $card-padding;
            justify-content: center;
            box-shadow: $shadow;
    
            &--dark {
                font-size: $font-lg;
                background-color: $colour-dark;
                color: $colour-light;        
                margin: $card-margin;
                padding: $card-padding;
                justify-content: center;
                box-shadow: $shadow;
            }
        }
    }
}

.games {
    &__container {
        margin-left: auto; 
        margin-right: auto;
    }

    &__stage {
        &__container {
            display: flex;
            justify-content: space-evenly;
        }

        &__img {
            flex: 1 0 18%;
            max-width: $stage-img-width;
            margin: 5px;
            filter: brightness(60%);
            box-shadow: $img-shadow;
    
            &__container {
                position: relative;
            }
        }
    }

    &__length {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -135%);
        font-size: $font-xl;
    }

    &__character {
        &__container {
            &--left {
                width: 50%;
                display: inline-flex;
                justify-content: space-evenly;
            }
            &--right {
                width: 50%;
                display: inline-flex;
                justify-content: space-evenly;
            }
        }
        
        &__img {
            width: $character-img-width;
            margin: 5px;
            box-shadow: $img-shadow;

            &--dark {
                width: $character-img-width;
                margin: 5px;
                filter: brightness(60%);
                box-shadow: $img-shadow;
            }
        }
    }

    &__set-count {
        &__container {
            display: flex;
        }

        font-size: $font-lg;
        background-color: $colour-dark;
        color: $colour-light;
        margin: $card-margin;
        padding: $card-padding;
        justify-content: center;
        box-shadow: $shadow;
        transform: translate(0px, -30px);
    }
}