$colour-light: white;
$colour-dark: #0c0c0c;
$font-xl: 40pt;
$font-lg: 28pt;
$font-md: 26pt;
$shadow: 3px 2px 5px black;
$img-shadow: 2px 3px 10px #00000087;
$card-padding: 14px 12px;
$card-margin: 3px auto;


.header {
    font-size: $font-xl;
    text-align: center;
}

.stats-container {
    margin: 50px 450px; 
}

.row {
    display: flex;
}

.col {
    &__left {
        padding: .6em 0;
        width: 275px;
    }

    &__right {
        justify-content: right;
        text-align: right;
        width: 275px;
        padding: .6em 0;
    }

    &__center {
        font-size: $font-lg;
        color: $colour-dark;
        background-color: $colour-light;
        margin: $card-margin;
        padding: $card-padding;
        justify-content: center;
        box-shadow: $shadow;

        &-dark {
            font-size: $font-lg;
            background-color: $colour-dark;
            color: $colour-light;        
            margin: $card-margin;
            padding: $card-padding;
            justify-content: center;
            box-shadow: $shadow;
        }
    }

}


.table {
    &-container{
        font-size: $font-md;
        padding: 0.7em 0.5em;
        margin-left: auto; 
        margin-right: auto;
        box-shadow: $img-shadow;
        background-color: rgba(0, 0, 0, 0.5)
    }

    &-separator{
        &__lg {
            width: 90%;
        }
        &__md {
            width: 75%;
        }
        &__md {
            width: 50%;
        }
    }
}

.games {
    &-container {
        margin-left: auto; 
        margin-right: auto;
    }

    &-stage {
        &-container {
            display: flex;
            justify-content: space-evenly;
        }

        &-img {
            flex: 1 0 18%;
            max-width: 300px;
            margin: 5px;
            filter: brightness(60%);
            box-shadow: $img-shadow;
    
            &-container {
                position: relative;
            }
        }
    }

    &-length {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -135%);
        font-size: $font-xl;
    }

    &-character {
        &-container {
            &__left {
                width: 50%;
                display: inline-flex;
                justify-content: space-evenly;
            }
            &__right {
                width: 50%;
                display: inline-flex;
                justify-content: space-evenly;
            }
        }
        
        &-img {
            width: 120px;
            margin: 5px;
            box-shadow: $img-shadow;
        }

        &-img__dark {
            width: 120px;
            margin: 5px;
            filter: brightness(60%);
            box-shadow: $img-shadow;
        }
    }

    &-set-count {
        &-container {
            display: flex;
        }

        font-size: $font-lg;
        background-color: $colour-dark;
        color: $colour-light;
        margin: $card-margin;
        padding: $card-padding;
        justify-content: center;
        box-shadow: $shadow;
        transform: translate(0px, -30px);
    }
}

.config {
    color: $colour-dark;
}